# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# The above makes sure all files without extensions are ignored (in order to prevent the binary from being added to the repository)

# unignore the makefile
!Makefile

# ignore all object files
*.o

bak/
drivers/


.DS_Store
